.tytop,#end {
	font-size: 12px;
}
#warpper {
	width: 100%;
}
#warpper2 {
	background: #f9f9f9;
}
.allba {
	width: 1100px;
	height: 40px;
	margin: 6px auto 0;
	border-bottom: 2px solid #1cabb4;
}
.allba ul li a {
	width:140px ;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;	
	color: #959591;
}
.allba ul li{
	height: 40px;
	width: 830px;
}
.allba ul li {
	font-size: 16.67px;
	display: inline;
}
.allba ul li a:hover {
	color: white;
	background: #1cabb4;
}
.warpper-body {
	min-height: 800px;
	width: 1100px;
	margin:0 auto ;
}
.warpper-top {
	height: 55px;
	line-height: 55px;
	width: 1100px;
}
.warpper-top>p {
	font-size: 20.83px;
	color: #7d7d7d;
	float: left;
	position: relative;
	left: 10px;
}
.warpper-top ul li {
	color: #7d7d7d;
	display: inline-block;
	float: left;
	height: 55px;
	width: 75px;
	text-align: center;
	position: relative;
	left: 50px;
}
.warpper-top li+li {
	position: relative;
	left: 75px;
}
.warpper-top li+li+li {
	position: relative;
	left: 80px;
}
.icon-self1 {
	width: 21px;
	height: 29px;
	background-image: url("../images/index-icon.png");
	background-repeat: no-repeat;
	position: relative;
	top: 8px;
	left: 69px;
}
.icon-self2 {
	width: 21px;
	height: 29px;
	background-image: url("../images/index-icon.png");
	background-repeat: no-repeat;
	position: relative;
	top: 8px;
	left: 73px;
}
.gift {
	position: relative;
	font-size: 12.5px;
	float: right;
	top: -10px;
	left: -5px;
}
.warpper-top>ul>li>a {
	font-size: 16.67px;
}
.set {
	display: none;
	width: 84px;
	height: 342px;
	background-color: white;
	border: 1px solid gray;
	position: absolute;
	z-index: 10;
	top: 12px;
	left: -7px;
}
.set p+p{
	height: 28px;
	width: 84px;
	line-height: 28px;
	font-size: 12.5px;
}
.set p+p:hover {
	background-color: #f9f9f9;
}
.set1 {
	font-size: 16.67px;
	height: 30px;
	line-height: 30px;
	text-indent: -19px;
	border-bottom: 1px dotted #e6e6e6;
}
.warpper-top span {
	color: #1cabb4;
}
.comm span{
	font-size: 12.5px;
}
.community {
	display: none;
	width: 105px;
	height: 120px;
	background-color: white;
	border: 1px solid gray;
	position: absolute;
	z-index: 10;
	top: 12px;
	left: -16px;
}
.community p+p {
	height: 28px;
	width: 105px;
	text-indent: -20px;
	line-height: 28px;
	font-size: 12.5px;
}
.community p+p:hover {
	background-color: #f9f9f9;
}
.community1 {
	font-size: 16.67px;
	height: 30px;
	line-height: 30px;
	text-indent: -35px;
	border-bottom: 1px dotted #e6e6e6;
}
.community p:nth-child(4) {
	text-indent: -3px;
}
.warpper-left {
	width: 110px;
	float: left;
}
.trade {
	width: 134px;
	float: left;
	padding-bottom: 30px;
}
.trade p {
	position: relative;
	top: 12px;
	left: 14px;
}
.trade >ul> li {
	font-size: 17px;
	color: #7d7d7d;
	position: relative;
	top: 20px;
	left: 22px;
	cursor: pointer;
}
.trade li :hover {
	color: #1cabb4;
}
.trade li a {
	display: block;
	height: 22px;
	line-height: 22px;
	font-size: 12.5px;
	color: #7d7d7d;	
}
.trade1 {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 11px;
	overflow: hidden;
	cursor: pointer;
/* 	border: none;
background-color: white;
width: 11px;
height: 11px; */
	position: relative;
	left: -68px; 
	top: -1.5px;
	background: url(../images/myjd-common-icon.png) -8px -8px;
}
.jia {
	position: relative;
	color: black;
	left: -78px;
}
.add {
	display: block;
	height: 10px;
	width: 10px;
	border: 1px solid black;

}
.warpper-middle {
	width: 710px;
	background-color: white;
	float: left;
}
.myname {
	height: 140px;
	width: 680px;
	background: white;
}
.myname img {
	position: relative;
	top: 12px;
	left: 15px;
}

.myname1 {
	font-size: 16.67px;
	color: #ffa800;
	position: relative;
	top: -110px;
	left: 170px;
}
.myname2 {
	font-size: 12.5px;
	color: #7d7d77;
	position: relative;
	top: -100px;
	left: 170px;
}
.make a {
	font-size: 12.5px;
	height: 15px;
	line-height: 15px;
	color: #1cabb4;
	position: relative;
	top: -80px;
	left: 170px;

}

.myorder {
	height: 246px;
	width: 680px;
	background: white;
	margin-top: 18px;
	margin: 0 auto;
}

.tb-void {
	line-height: 18px;
	text-align: center;
	border: 1px solid #f2f2f2;
	border-top: 0;
	color: #333;
	width: 100%;
	border-collapse: collapse;
}

.tb-void th {
	background: #e7e7e7;
	height: 32px;
	line-height: 32px;
	padding: 0 5px;
	text-align: center;
	font-weight: 400;
	font-size: 12.5px;
}
.tb-void td {
	border: 1px solid #f2f2f2;
	padding: 10px 5px;
	font-size: 12.5px;
}

.offer {
	background: #f5f5f5;
	text-align: left;
}
.offer {
	padding-top: 4px;
padding-bottom: 4px;
}
.offer span {
	display: inline-block;
	margin-right: 10px;
	overflow: hidden;
	vertical-align: middle;
	float: left
}

.payAgain {
	background: #f2f2f2;
	display: block;
	height: 21px;
	line-height: 21px;
	margin: 3px auto 0;
	overflow: hidden;
	width: 73px;
	border: 1px solid #f2f2f2;
	border-radius: 3px;
}
.payAgain:hover {
	background-color: #1cabb4;
	color: white;
}



.warpper-right {height:500px;width: 260px;border: 1px solid #ddd;float: right;background-color: #fff;}
.own-shop{height: 500px;margin: 0 10px;}
.own-title{border-bottom: 1px solid #ddd;height:50px;line-height:50px;padding-left:10px;}
.own-con{margin-top:20px;font-size:13.5px;}
.own-image{text-align:center;}
.own-image div{padding-top: 4px;}
.own-center{margin: 5px 21px;line-height:26px;}
.img-list img {width:70;}



